@{
    ViewBag.Title = "Home";
}

<main>
    <div>
        <img src="~/Imagens/restauranteHome.jpg" alt="restaurante" id="imgHome" />
        <p id="labelHome">SISTEMA DE CADASTRO DE RESTAURANTE</p>
    </div>
</main>
